<div class="row">
    <form [formGroup]='post' (ngSubmit)='onSubmit()' class="col s12">
      <h3>Voeg een nieuwe post toe</h3>          
      <div class="row">
        <div class="input-field col s10 offset-s1 m4 offset-m4">
          <input formControlName='title' id="title" type="text">
          <label for="title">Titel </label>
        </div>
        <div class="input-field col s10 offset-s1 m4 offset-m4">
          <input formControlName='imageUrl' id="imageUrl" type="text" >
          <label for="imageUrl">Afbeelding URL</label>
        </div>
        <div class="input-field col s10 offset-s1 m4 offset-m4">
            <textarea formControlName='body' id="body" type="text"></textarea>
            <label for="body">Inhoud</label>
          </div>   
      </div>
      <div *ngIf='errorMsg' class="card-panel red lighten-4 col s10 offset-s1 m4 offset-m4" >{{errorMsg}}</div>  
      <div class="btnwrapper">
        <button type='submit' [disabled]='!post.valid' class="waves-effect waves-light btn">Voeg post toe</button>            
      </div>      
    </form>
</div>
