<h3>Boogschieten op staande wip</h3> 
<div class="row">
  <div class="col s12 m10 offset-m1 l6 offset-l3">
    <div>
      <p>
          Bij het boogschieten op staande wip is het de bedoeling om 
          kleine plastic of houten blokjes van een spil te schieten. 
          De pijlen hebben hiervoor een stompe, platte kop en geen 
          scherpe punt, zoals bijvoorbeeld bij het schieten op een 
          roos. Op de blokjes staan pluimen, en aan de hand van de 
          hoeveelheid pluimen, kan men de waarde van die vogel 
          (de echte naam voor dat blokje) bepalen. Deze met het 
          minst aantal pluimen zijn de gaaien, één gaai staat voor 
          één punt. Dan komen de kallen, deze staat (normaal) voor 
          twee punten, vervolgens komen de zijden, met drie punten en 
          als laatste de hoofdvogel of top, met vier punten. Er wordt 
          geschoten op 2 verschillende wippen: op muitwippen zijn de 
          vogels geplaatst in een kooi waardoor de pijlen in een 
          kleine straal van de wip vallen. Deze wippen worden
           tegenwoordig het meest gebruikt omwille van de bebouwing 
           en voor de veiligheid van omstaanders. De tweede soort is 
           dan ook de oudste de open wippen. Hierbij staat er rond de 
           vogels geen kooi en kunnen de pijlen op grote afstanden van 
           de wip vallen. Dit systeem wordt niet meer nieuw gemaakt 
           omwille van de problemen.
      </p> 
    </div>

    <div>
        <h5>Benaming van vogels</h5>
          <img class="materialboxed responsive-img floatimg" src="http://merendreewillemtell.eu/sites/default/files/imagepageimages/wip02.gif">
          <img class="materialboxed responsive-img" src="http://merendreewillemtell.eu/sites/default/files/imagepageimages/gaai.gif">      
    </div>
    <div>
        <h5>Schieten op de staande wip</h5>
        <p>
            Men schiet de pijlen af met een boog. 
            Er zijn twee soorten bogen: de gewone, 
            klassieke bogen en de katrolbogen. 
            Het verschil is duidelijk, een katrolboog heeft 
            aan beide uiteinden een katrol zodat met evenveel spierkracht veel
            harder geschoten kan worden.
      </p>
        <img class="materialboxed second" src="http://merendreewillemtell.eu/sites/default/files/imagepageimages/Boogschieter%20staande%20wip%202007-08-20.jpg">           
    </div>
    <div>
        <h5>Schuttersgilden</h5>
        Hieronder volgt een lijst met de Schuttersmaatschappijen van onze regio. 
        Indien u niet in de buurt van één van deze clubs woont, kijkt u 
        best even uit naar hoge torens van metaal, of lange, kantelbare metalen
         palen in uw stad of dorp.
         <ul>
           <li>
             Asper "Sint-Sebastiaan"
           </li>
           <li>
            Deinze “Sint-Sebastiaan”
            </li>
            <li>
              Gavere "Sint-Sebatiaan"
            </li>
            <li>
              Gent "Ware Vrienden"
            </li>
            <li>
              Lotenhulle "Vrije Schutters"
            </li>
            <li>
              Mariakerke "Sint-Sebastiaan"
            </li>
            <li>
              Merendree "Sint-Sebastiaan"
            </li>
            <li>
              Merendree "Willem Tell"
            </li>
            <li>
              Munte "Ons Vermaak"
            </li>
            <li>
              Nevele "Sint-Sebastiaan"
            </li>
         </ul>
    </div>
    <div>
        <h5>Oefeningschietingen</h5>
        <p>
            Elke club houdt op geregelde tijdstippen 
            oefenschietingen voor z’n leden. Bij onze club is 
            dat elke vrijdagavond in de periode tussen 1 mei en 
            31 Augustus. Maar er zijn ook de beschrijfschietingen 
            waarbij iedere club ongeveer één maal per maand een 
            schieting organiseert. Om deel te nemen aan deze 
            schietingen moet men echter ingeschreven zijn in een 
            club. De beschrijfschietingen van onze club vindt u 
            terug in onze kalender. Voor de beginuren van een 
            schietingen kan u contact opnemen met ons.
      </p>
    </div>

    <div>
        <h5>Koningschietingen</h5>
        <p>
            Deze worden gehouden in clubverband, 
            per gewest, nationaal of internationaal. Hierbij schieten alle 
            deelnemers naar de hoofdvogel en diegene die hem het eerste afschiet 
            wordt koning of keizer. Keizer kan men worden als men in dezelfde club 
            3 maal na elkaar de koningstitel behaald heeft. Ook is er ieder jaar de 
            nationale keizerschieting deze wordt gehouden onder alle koningen van België.
      </p>
    </div>

    <div>
        <h5>Kampioenschappen</h5>
        <p>
            Er zijn ook nog de kampioenschappen, waarbij men alleen of in groep zo veel mogelijk 
            punten probeert te halen in een vast aantal scheuten. Deze worden georganiseerd op 
            gewest-vlak. De winnaars van ieder gewest gaan dan naar de nationale kampioenschappen. 
            Volgens dit systeem wordt het Europees kampioenschap betwist.
      </p>
    </div>

    <div>
        <h5>Europees kampioenschap</h5>
        <p>
            Deze wedstrijd wordt ieder jaar gehouden tussen België, Nederland en Frankrijk. 
            Er is een kampioenschap per ploeg van 24 en een individueel kampioenschap waar 
            men schiet zoals op de koningschieting. Op zaterdag is er steeds het jeugdkampioeschap 
            en op zondag het E.K. voor de senioren.
      </p>
    </div>
    
    <div>
        <h5>Organisaties</h5>
        <p>
            De Koninklijke Nationale Bond der Belgische Wipschutters K.N.B.B.W. opgericht in 1908 
            is het overkoepelend orgaan voor maar liefst 256 aangesloten schuttersmaatschappijen 
            met meer dan 8000 leden. Deze maatschappijen zijn verdeeld onder 5 sectoren en 
            verspreid over gans Vlaanderen, Brabant en Wallonië.
      </p>
    </div>
  </div>  
</div>         
