<h3>Beschrijfschietingen</h3>          
<p>
  Alle onze schietingen beginnen om <strong>14u30</strong> tenzij anders vermeld.
</p>
<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
      <table class="striped centered">
          <thead>
            <tr>
                <th>Datum</th>
                <th>Schieting</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Zondag 26 maart</td>
              <td>Beschrijfschieting</td>
            </tr>
            <tr>
              <td>Maandag 17 april</td>
              <td>Beschrijfschieting</td>
            </tr>
            <tr>
              <td>Zaterdag 20 mei</td>
              <td>Hulde Berry De Vrieze</td>
            </tr>
            <tr>
              <td>Zaterdag 17 juni</td>
              <td>Beschrijfschieting</td>
            </tr>
            <tr>
              <td>Dinsdag 11 juli</td>
              <td>Beschrijfschieting</td>
            </tr>
            <tr>
              <td>Maandag 28 augustus</td>
              <td>Slodderschieting</td>
            </tr>
            <tr>
              <td>Zaterdag 23 september</td>
              <td>Konijnen</td>
            </tr>
            <tr>
              <td>Zaterdag 21 oktober</td>
              <td>Kippen</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>