<div *ngIf='successMessage' class="row">
  <div class="card-panel lime lighten-4 col s6 offset-s3">
      {{successMessage}}
  </div>
</div>

<div *ngIf='!successMessage' class="row">
    <form [formGroup]='contact' (ngSubmit)='onSubmit()' class="col s12">
      <h3>Contacteer</h3>          
      <div class="row">
        <div class="input-field col s10 offset-s1 m4 offset-m4">
          <input formControlName='email' id="email" type="text">
          <label for="email">Email</label>
          <!--
          <div class='card-panel red lighten-4' *ngIf='contact.errors?.emailNotValid && contact.email.touched'>
              Geef een correct emailadres in
          </div>
        -->
        </div>
        <div class="input-field col s10 offset-s1 m4 offset-m4">
          <input formControlName='subject' id="subject" type="text" >
          <label for="subject">Onderwerp</label>
        </div>
      </div>
      <div class="input-field col s10 offset-s1 m4 offset-m4">
          <textarea formControlName='body' id="body" type="text"></textarea>
          <label for="body">Inhoud</label>
          <div *ngIf='errorMessage' class="card-panel red lighten-4" >{{errorMessage}}</div>            
        </div>   
      <div class="btnwrapper col s12">
        <button type='submit' [disabled]='!contact.valid' class="waves-effect waves-light btn">Verzend</button>            
      </div>      
    </form>
</div>
