<h3>Legend of William Tell</h3> 
<div class="row">
  <div class="col s12 m10 offset-m1 l6 offset-l3">
    <div>
      <p>
          Willem Tell zou aan het begin van de 14e eeuw hebben geleefd in Zwitserland en werd
           vooral bekend door het gelijknamige toneelstuk van Friedrich Schiller en de opera 
           van Gioacchino Rossini.
      </p>
      <img class="materialboxed responsive-img" src="http://merendreewillemtell.eu/sites/default/files/imagepageimages/zpage065.gif"/>
      <p>
          Het verhaal gaat dat de legendarische kruisboogschutter Willem Tell weigerde in 1307 de 
          hoed te groeten die landvoogd Gessler op een staak op het dorpsplein had laten zetten, 
          als symbool voor de heersende Habsburg. Gessler beval hem daarop met zijn boog een appel 
          van het hoofd van zijn zoontje te schieten. Dit lukte hem. Toen Tell echter werd gevraagd
           wat het doel van zijn twééde pijl was, antwoordde hij dat die voor de landvoogd bedoeld 
           was als hij zijn zoontje zou raken. Hierop werd hij gevangen genomen. Terwijl Tell in 
           een bootje over het Vierwoudstedenmeer naar de gevangenis werd gevoerd, brak er een 
           storm uit en wist hij te ontsnappen. Willem Tell ging snel terug naar Küssnacht en
            schoot de landvoogd dood met zijn kruisboog.
      </p>
      <p>
          De rest van de Tell legende vermeldt alleen dat hij in 1315 zou hebben meegevochten in 
          de Slag bij Morgarten en in 1354 zou zijn verdronken in de wilde Schächenbach
           (Schächen-beek) toen hij een kind probeerde te redden.
      </p>
      <p>
          Er is echter geen enkel bewijs dat Willem Tell wel degelijk heeft bestaan. 
          De eerste vermelding van de legende stamt uit 1569 in de Chronicum Helveticum 
          van de Zwitserse historicus Aegidius (of Gilg) Tschudi over de jaren 1000 - 1470. 
          Onderzoekers hebben echter geconstateerd dat de Chronicum deels op zorgvuldig verzamelde
           documenten, maar ook op fantasie berustte.
      </p>
      <p>
          In midden 1700 las Gottlieb de Haller, een geleerde uit Bern, een oud Deens 
          folkloristisch verhaal over Koning Harald Blauwtand, die regeerde van 936 - 987 en een 
          Viking hoofdman, Toko genaamd, die werd gedwongen een appel van het hoofd van zijn jonge 
          zoon te schieten. De Haller schreef daarop Willem Tell, een Deens fabeltje, waarin hij 
          beweerde dat de legende was gebaseerd op het verhaal over Toko. Dit kwam hem echter duur 
          te staan, want het gevolg was een gerechtsvervolging en persoonlijke dreigementen. Haller 
          verklaarde vervolgens dat het verhaal geen serieus historisch werk was, maar een uiting 
          van literaire kunst en bood zijn excuses aan. Het boek werd op de markt van Altdorf 
          verbrand. Toch vestigde deze episode de aandacht op de legende en historici hebben later 
          geen documentatie kunnen vinden over het bestaan van Willem Tell. Typisch is dat de meest 
          recente 1000 pagina's tellende geschiedenis van Zwitserland, slechts 20 regels aan Willem 
          Tell besteedt.
      </p>
      <p>
          Het verhaal van Willem Tell past perfect in de onafhankelijkheidsstrijd van Zwitserland 
          en zijn landsknechten sinds 1291. Sinds die datum verzetten een aantal Zwitserse staatjes 
          zich tegen de heerschappij van de Habsburgers. Uri, waar Willem Tell woonde, behoorde hier 
          ook reeds toe.
      </p>
    </div>
  </div>  
</div>         
