<h3>Bestuur</h3> 
<div class="row">
  <div class="col s10 offset-s1 m6 offset-m2 l4 offset-l4">
      <div class="card-panel grey lighten-5 z-depth-4">
        <div class="row valign-wrapper">
          <div class="col s8">
            <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/12718346_10204040737418274_1627582042292202875_n.jpg?oh=17c6ae5d84a883c343ee4eb7a2580350&oe=5AD2FC13" alt="" class="circle responsive-img">
          </div>
          <div class="col s10">
            <span class="black-text">
              <strong>Voorzitter</strong><br>
              Jan de Schryver<br>
              Lotenhulle
            </span>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row bestuursleden">
    <div class="col s10 offset-s1 m6 offset-m2 l4 offset-l4">
        <div class="card-panel grey lighten-5 z-depth-4">
          <div class="row valign-wrapper">
            <div class="col s8">
              <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/18767416_10210306664882510_2110145556413613743_n.jpg?oh=ff55130610242bf8114fae38ef46f6fd&oe=5AD6F89F" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="black-text">
                <strong>Bestuurslid</strong><br>
                Berry De Vrieze<br>
                Lovendegem
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m6 offset-m2 l4 offset-l4">
          <div class="card-panel grey lighten-5 z-depth-4">
            <div class="row valign-wrapper">
              <div class="col s8">
                <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/23032587_10213044126811720_6310468900685144476_n.jpg?oh=4b60cc2d79d6613096dcf38fb84052e4&oe=5AC78DBE" alt="" class="circle responsive-img">
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong>Bestuurslid</strong><br>
                  Aaron de Schryver<br>
                  Lotenhulle
                </span>
              </div>
            </div>
          </div>
        </div>
  </div>