<div class="navbar-fixed nav-wrapper">
    <nav>
        <div class="z-depth-5">
          <a materialize="sideNav" href="#" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <div *ngIf="!isLoggedIn()">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/blog">Home</a></li>
            <li><a routerLink="/beschrijfschieting">Beschrijfschieting</a></li>
            <li><a routerLink="/puntenschieting">Puntenschieting</a></li>
            <li><a routerLink="/staandewip">Staande wip</a></li>
            <li><a routerLink="/willemtell">Willem Tell</a></li>
            <li><a routerLink="/bestuur">Bestuur</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/user/login">Log in</a></li>                          
          </ul>
      
          <ul id="slide-out" class="side-nav">
              <li><a routerLink="/blog">Home</a></li>
              <li><a routerLink="/beschrijfschieting">Beschrijfschieting</a></li>
              <li><a routerLink="/puntenschieting">Puntenschieting</a></li>
              <li><a routerLink="/staandewip">Staande wip</a></li>
              <li><a routerLink="/willemtell">Willem Tell</a></li>
              <li><a routerLink="/bestuur">Bestuur</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li><a routerLink="/user/login">Log in</a></li>              
            </ul>
          </div>

          <div *ngIf="isLoggedIn()">
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/user/register">Registreer</a></li>
                <li><a routerLink="/admin">Blog</a></li>
                <li><a routerLink="/user/logout">Logout</a></li>
              </ul>
          
              <ul id="slide-out" class="side-nav">
                  <li><a routerLink="/user/register">Registreer</a></li>                  
                  <li><a routerLink="/admin">Blog</a></li>
                  <li><a routerLink="/user/logout">Logout</a></li>
              </ul>
          </div>
        </div>
      </nav>
</div>
<div class="carousel">
    <carousel [sources]="imageSources" [config]="config"></carousel>
  </div>