<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper z-depth-5">
          <a materialize="sideNav" href="#" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">Beschrijfschieting</a></li>
            <li><a href="#">Puntenschieting</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Staande wip</a></li>
            <li><a href="#">Willem Tell</a></li>
            <li><a href="#">Bestuur</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
      
          <ul id="slide-out" class="side-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Beschrijfschieting</a></li>
            <li><a href="#">Puntenschieting</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Staande wip</a></li>
            <li><a href="#">Willem Tell</a></li>
            <li><a href="#">Bestuur</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </div>
      </nav>
</div>

<div class="headerimg"></div>