img{
   max-height: 300px;
}

nav{
    background-color: rgba(198, 40, 40, 0.9);
    font-weight: bolder;
    font-size: 1.5em;
}
  
.carousel {
    position: absolute;
    top: 0;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
  }

.nav-wrapper{
   margin-bottom: 400px;
}
