<h3>Puntenschieting</h3> 
<div class="row">
  <div class="col s12 m10 offset-m1 l6 offset-l3">
    <div>
      <h5>Puntenschieting seizoen</h5>
      <p>
          Het seizoen start ongeveer in het <strong>midden van 
          april en duurt tot eind augustus.</strong> Gedurende deze periode 
          is iedereen welkom om eens te komen kijken of eventueel 
          samen met de schutters te schieten. Als u beslist om eens te proberen schieten, gelieve dan eerst contact op te nemen. U hoeft geen boog te hebben om eens deel te nemen.
      </p>
      <p>
          De puntenschieting vindt <strong>elke vrijdag plaats om 19.00 en eindigt om 21.30.</strong>
          De inleg om deel te nemen aan een puntenschieting bedraagt <strong>1 euro.</strong>
      </p>
    </div>

    <div>
        <h5>Lid worden en begeleiding</h5>
        <p>
            Als beginnende schutter is het moeilijk om uw weg te 
            vinden in de verschillende stijlen van schieten. 
            Op puntenschietingen zorgen we ervoor dat nieuwe
             schutters een ervaren schutter als begeleider krijgen. 
             Na een aantal schietingen zal u de basis onder de knie 
             hebben en kan u zich verder ontwikkelen in uw eigen stijl.
        </p>  
        <p>
            Als u beslist om verder te gaan in het boogschieten 
            dan kan u lid worden. Het lidgeld bedraagt 35 euro. 
            We zijn met een behoorlijk aantal actieve schutters en 
            elke boog heeft een verhaal. Als u wenst een boog aan te 
            schaffen en u bent lid, dan kan u altijd bij ons terecht 
            voor advies of aanbevelingen.
        </p>      
    </div>
    <div>
        <h5>Uitslagen</h5>
        <p>
          Momenteel nog geen uitslag beschikbaar voor 2017.
        </p>
    </div>
  </div>  
</div>         
