<h2>Blog beheren</h2>

<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="buttonwrapper">
        <a class="waves-effect waves-light btn" routerLink="addblog" >Voeg een post toe</a>
      </div>
      <table>
          <thead>
            <tr>
                <th>Titel</th>
                <th>Aanpassen</th>
                <th>Verwijderen</th>
            </tr>
          </thead>
          <tbody *ngFor="let post of blogposts">
            <tr>
              <td>{{post.title}}</td>
              <td>
                <div class="buttonwrapper">
                      <a class="waves-effect waves-light btn" (click)="editPost(post.id)" >Aanpassen</a>
                </div>
              </td>
              <td>
                  <div class="buttonwrapper">
                      <a class="waves-effect waves-light btn" (click)="removePost(post.id)" >Verwijder</a>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
